{% for yum_repository in yum_repositories %}
  {% for id, attrs in yum_repository.items() %}
[{{ id }}]
name={{ attrs.name }}
baseurl={{ attrs.baseurl }}
enabled={{ 1 if attrs.enabled else 0 }}
gpgcheck={{ 1 if attrs.gpgcheck else 0 }}
  {% endfor %}
{% endfor %}
